# Backend API
BACKEND_URL=http://localhost:8000

# AWS LocalStack
AWS_ENDPOINT=http://localhost:4566
AWS_BUCKET=certchain-dev

# Stripe Publishable Key (Get from https://dashboard.stripe.com/test/apikeys)
# This is the TEST publishable key (pk_test_...), safe to use on client-side
#STRIPE_PUBLISHABLE_KEY=pk_test_51SXl6vPQZAt7IqOaEen3wjfBeGu7Qg1xl1CumptvGI2cZn6T2j8CJOqptOa80GdigkFAAApaQFP096zPAO9yRmfh00AkKLAjwT
