services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: production
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/var/www
      - ./backend/.env.production:/var/www/.env
    environment:
      - APP_ENV=production
      - DB_CONNECTION=pgsql
      - DB_HOST=ep-red-silence-adwf2gyh-pooler.c-2.us-east-1.aws.neon.tech
      - DB_PORT=5432
      - DB_DATABASE=neondb
      - DB_USERNAME=neondb_owner
      - DB_PASSWORD=npg_fZmgpv5eGr9J
      - DB_SSLMODE=require
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - app_network
    depends_on:
      - redis

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./backend/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    networks:
      - app_network

volumes:
  redis_data:

networks:
  app_network:
    driver: bridge
